@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
  font-size: 16px;
  --back-color: #348d9d;
  --button-color: #bb3e51;
  --text-color: #f7f9ec;
  --text-font: "Comfortaa", cursive;
}
* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #0e172a;
}
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: center;
}
.organisejoin {
  display: flex;
  flex-direction: column;
}
.button {
  background-color: #bb3e51;
  color: #f7f9ec;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  border: 0;
  width: 300px;
  height: 60px;
  font-size: 25px;
}
.jerejoins {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pochetteAlbum {
  margin: 30px;
}
.titrejoins {
  margin: 20px;
}
input {
  background-color: #f7f9ec;
  border-radius: 20px;
  height: 30px;
  width: 200px;
  border: 0;
}

/* Page tutoriel */
.tutoriel, p {
  margin: auto;
  margin-top: 50px;
  background-color: #bb3e51;
  color: #f7f9ec;
  border-radius: 20px;
  width: 85%;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  min-height: 300px;
}
h1, h2 {
  margin-top: 25px;
  color: #f7f9ec;
  text-align: center;
}
h2 {
  font-size: 16px;
}


.buttontuto {
  background-color: none;
  color: #f7f9ec;
  border: 0;
  width: 20px;
  margin-left: 3.5cm;
  margin-top: 5cm;
  font-size: 16px;
  text-decoration: underline;
}
.organise {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nomsoiréeBlame{
  display: flex;
  margin-top: 40px;
}
.nombreBlame{
  display: flex;
  margin-top: 40px;
}

/* Page tutoriel */
.tutoriel {
  margin: auto;
  margin-top: 50px;
  background-color: #bb3e51;
  color: #f7f9ec;
  border-radius: 20px;
  width: 85%;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  min-height: 300px;
}
.h1tuto {
  margin-top: 25px;
  color: #f7f9ec;
  text-align: center;
  background-color: #bb3e51;
}
.h2tuto {
  margin-top: 25px;
  color: #f7f9ec;
  text-align: center;
  background-color: #bb3e51;
}
h2 {
  font-size: 16px;
}

