@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

:root {
  font-size: 16px;
  --back-color: #348d9d;
  --button-color: #bb3e51;
  --text-color: #f7f9ec;
}
* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #0e172a;
  font-family: 'Archivo', sans-serif;
}
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.organisejoin {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}
.buttonvalide {
  background-color: #bb3e51;
  color: #f7f9ec;
  height: 25px;
  border-radius: 20px;
  border: 0;
  width: 300px;
  height: 60px;
  font-size: 25px;
  cursor: pointer;
}
.jerejoins {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pochetteAlbum {
  margin: 30px;
}
.titrejoins {
  margin: 20px;
}
input {
  background-color: #f7f9ec;
  border-radius: 20px;
  height: 30px;
  width: 200px;
  border: 0;
}
.buttontuto {
  background-color: none;
  color: #f7f9ec;
  border: 0;
  width: 20px;
  margin-top: 50%;
  margin-left: 40%;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}
.organise {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

/* Page tutoriel */
.tutoriel {
  margin: auto;
  margin-top: 30px;
  background-color: #bb3e51;
  color: #f7f9ec;
  border-radius: 20px;
  width: 85%;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  min-height: 300px;
}
.h1tuto {
  margin-top: 25px;
  color: #f7f9ec;
  text-align: center;
  background-color: #bb3e51;
}
.h2tuto {
  margin-top: 25px;
  color: #f7f9ec;
  text-align: center;
  background-color: #bb3e51;
}
h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: rgb(246, 235, 233);
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background :0.5s cubic-bezier(0.77, 0.2, 0.05, 10), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #f7f9ec;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 25px;
  padding-top: 125px;
  background: rgba(0, 0, 0, 0);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  margin-right: 10px;
  padding: 10px 0;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0);
  color: #f7f9ec;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
.jerejoins {
  font-size: 150%;
  color: #f7f9ec;
}
.organiseecriture {
  color: #f7f9ec;
}
.blamebutton {
  border: none;
  background-color: #bb3e51;
  color: #f7f9ec;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 100%;
  margin-top: 350%;
}
.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7f9ec;
}
.nomsoiréeBlame{
  margin-top: 25px;
}
.nombreBlame{
  margin-top: 25px;
}
.lien{
  margin-top: 25px;
  margin-bottom: 30px;
}
.textField__label{
  color: #f7f9ec;
}
.donneartiste{
  margin-bottom: 40px;
}